* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.2%; /* 1rem = 10px */
}

:root {
  --font-family: "Whitney", Helvetica, sans-serif;
  --font-medium: 500;

  --color-white: #fff;
  --color-light: #f6f6f6;
  --color-dark: #23272a;
  --color-primary: #7289da;

  --spaceing-section: 5.6rem 0; /* md= 8rem , lg= 12rem */
  --row-x-padding: 2.4rem; /* md,lg= 4rem */
  --container: 126rem;

  --columns-number: 4; /* sm 4 , md 8 , lg 12 */

}
body {
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 2rem;
  color: var(--color-dark);
}
a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-white);
}
a:hover {
  text-decoration: underline;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  display: inline-block;
}
p {
  line-height: 1.6;
}

section {
  padding: var(--spaceing-section);
}
