.header {
  background: url("../images/hero-bg-sm.png") top / cover;
  min-height: 105rem;
  color: var(--color-white);
}

.nav {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
}

.nav__login {
  display: flex;
  align-items: center;
}
.nav__login .btn {
  margin-right: 1.6rem;
}
.nav_icon--open {
  font-size: 4rem;
}
/* nav bar  */

.nav__navbar {
  /* display: none; */
  position: fixed;
  right: 0;
  top: 0;
  width: 33rem;
  min-height: 100vh;
  background-color: var(--color-white);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  box-shadow: 0 0 15px 100vh rgba(0, 0, 0, 0.6);
  padding: 2.4rem;
}
.navbar--mobile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2.4rem;
  margin-bottom: 1.6rem;
  border-bottom: 1px solid #ebedef;
}
.navbar__item a,
.nav_icon--close,
.navbar--mobile .navbar__brand a {
  color: var(--color-dark);
}

.nav_icon--close {
  font-size: 4rem;
  cursor: pointer;
}

.navbar__item {
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  line-height: 1.4;
  border-radius: 3px;
}
.navbar__item.active {
  background-color: var(--color-light);
}
.navbar__item.active a {
  color: var(--color-primary);
}

#menu:target {
  display: block;
  animation: menu-slide 0.4s ease-out forwards;
}
#menu:not(:target) {
  display: none;
}

/* hero  */
.hero {
  grid-column: span 4;
}
.hero__description {
  margin-top: 1.4rem;
}
.hero__btns .btn {
  margin-top: 2.4rem;
}
.hero__btns .btn--dark {
  display: none;
}

/* sections  */
.section__img,
.section__description {
  grid-column: 1/-1;
}
.hang,
.tech,
.cta {
  background-color: var(--color-light);
}

.section__description .section--text,
.section__description {
  margin-top: 2.4rem;
}
.cta__content {
  grid-column: 1/-1;
  padding-bottom: 3rem 0 5.6rem;
  background-image: url("../images/cta-bg.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.cta .btn {
  margin-top: 4rem;
}

/* footer  */

.footer {
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: var(--spaceing-section);
}
.footer__info {
  grid-column: 1/-1;
  margin-bottom: 5.6rem;
}
.footer__social {
  margin-top: 2.4rem;
  font-size: 2.4rem;
}
.footer__social a {
  margin-right: 1rem;
}
.footer__links {
  grid-column: span 2;
  margin-bottom: 4rem;
}

.footer__info .title--tertiary {
  color: var(--color-primary);
}
.footer__links--title {
  color: var(--color-primary);
  padding-top: 0.8rem;
  font-weight: normal;
}
.footer__links--link {
  font-size: 1.6rem;
  margin-top: 0.8rem;
  display: block;
}

.footer__line {
  border-color: var(--color-primary);
  margin: 0 var(--row-x-padding) 3.2rem;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
